# Sprint 1: Foundational Setup

## Task 1 (CIR-8): Load and Validate all Datasets

In [1]:
import pandas as pd
import numpy as np
import os
import logging

# Plots
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Set up logging
logging.basicConfig(
    level=logging.INFO,
    format='%(asctime)s - %(levelname)s - %(message)s',
    handlers=[
        logging.FileHandler("logs/CIR-8.log"),
        logging.StreamHandler()
    ]
)

In [3]:
# CSVs Directory 
data_path = "../04_ANN/CSV/exports/split_set/without_multiple_rows"
all_files = os.listdir(data_path)

logging.info("++++++++++++++++++++++++++++++++++++++++++")
logging.info("Start Loading Dataframes.")

# Load CSVs into a dictionary of dataframes
dataframes = {}
for file in all_files:
    if file.endswith(".csv"):
        var_name = file.replace(".csv", "").replace("-", "_")
        logging.info(f"Loading... -> {file}")
        dataframes[var_name] = pd.read_csv(os.path.join(data_path, file)).astype('float32')

# Log loaded datasets
for var_name, df in dataframes.items():
    globals()[var_name] = df
    logging.info(f"{var_name} loaded successfully with shape {df.shape}")
logging.info("Load Complete.")
logging.info("++++++++++++++++++++++++++++++++++++++++++")

2025-03-24 00:16:58,320 - INFO - ++++++++++++++++++++++++++++++++++++++++++
2025-03-24 00:16:58,323 - INFO - Start Loading Dataframes.
2025-03-24 00:16:58,325 - INFO - Loading... -> o1_X_external.csv
2025-03-24 00:17:05,477 - INFO - Loading... -> o1_X_test.csv
2025-03-24 00:17:05,979 - INFO - Loading... -> o1_X_train.csv
2025-03-24 00:17:10,088 - INFO - Loading... -> o1_X_validate.csv
2025-03-24 00:17:10,608 - INFO - Loading... -> o1_y_external_los.csv
2025-03-24 00:17:10,652 - INFO - Loading... -> o1_y_external_mortality.csv
2025-03-24 00:17:10,681 - INFO - Loading... -> o1_y_test_los.csv
2025-03-24 00:17:10,690 - INFO - Loading... -> o1_y_test_mortality.csv
2025-03-24 00:17:10,695 - INFO - Loading... -> o1_y_train_los.csv
2025-03-24 00:17:10,732 - INFO - Loading... -> o1_y_train_mortality.csv
2025-03-24 00:17:10,749 - INFO - Loading... -> o1_y_validate_los.csv
2025-03-24 00:17:10,759 - INFO - Loading... -> o1_y_validate_mortality.csv
2025-03-24 00:17:10,763 - INFO - Loading... -> o2_X_external.csv
2025-03-24 00:17:14,411 - INFO - Loading... -> o2_X_test.csv
2025-03-24 00:17:14,686 - INFO - Loading... -> o2_X_train.csv
2025-03-24 00:17:16,813 - INFO - Loading... -> o2_X_validate.csv
2025-03-24 00:17:17,089 - INFO - Loading... -> o2_y_external_los.csv
2025-03-24 00:17:17,113 - INFO - Loading... -> o2_y_external_mortality.csv
2025-03-24 00:17:17,131 - INFO - Loading... -> o2_y_test_los.csv
2025-03-24 00:17:17,137 - INFO - Loading... -> o2_y_test_mortality.csv
2025-03-24 00:17:17,141 - INFO - Loading... -> o2_y_train_los.csv
2025-03-24 00:17:17,165 - INFO - Loading... -> o2_y_train_mortality.csv
2025-03-24 00:17:17,175 - INFO - Loading... -> o2_y_validate_los.csv
2025-03-24 00:17:17,182 - INFO - Loading... -> o2_y_validate_mortality.csv
2025-03-24 00:17:17,187 - INFO - Loading... -> o3_X_external.csv
2025-03-24 00:17:19,534 - INFO - Loading... -> o3_X_test.csv
2025-03-24 00:17:19,719 - INFO - Loading... -> o3_X_train.csv
2025-03-24 00:17:21,034 - INFO - Loading... -> o3_X_validate.csv
2025-03-24 00:17:21,235 - INFO - Loading... -> o3_y_external_los.csv
2025-03-24 00:17:21,251 - INFO - Loading... -> o3_y_external_mortality.csv
2025-03-24 00:17:21,265 - INFO - Loading... -> o3_y_test_los.csv
2025-03-24 00:17:21,270 - INFO - Loading... -> o3_y_test_mortality.csv
2025-03-24 00:17:21,273 - INFO - Loading... -> o3_y_train_los.csv
2025-03-24 00:17:21,289 - INFO - Loading... -> o3_y_train_mortality.csv
2025-03-24 00:17:21,297 - INFO - Loading... -> o3_y_validate_los.csv
2025-03-24 00:17:21,301 - INFO - Loading... -> o3_y_validate_mortality.csv
2025-03-24 00:17:21,305 - INFO - Loading... -> o4_X_external.csv
2025-03-24 00:17:23,147 - INFO - Loading... -> o4_X_test.csv
2025-03-24 00:17:23,312 - INFO - Loading... -> o4_X_train.csv
2025-03-24 00:17:24,487 - INFO - Loading... -> o4_X_validate.csv
2025-03-24 00:17:24,661 - INFO - Loading... -> o4_y_external_los.csv
2025-03-24 00:17:24,677 - INFO - Loading... -> o4_y_external_mortality.csv
2025-03-24 00:17:24,691 - INFO - Loading... -> o4_y_test_los.csv
2025-03-24 00:17:24,697 - INFO - Loading... -> o4_y_test_mortality.csv
2025-03-24 00:17:24,700 - INFO - Loading... -> o4_y_train_los.csv
2025-03-24 00:17:24,715 - INFO - Loading... -> o4_y_train_mortality.csv
2025-03-24 00:17:24,721 - INFO - Loading... -> o4_y_validate_los.csv
2025-03-24 00:17:24,726 - INFO - Loading... -> o4_y_validate_mortality.csv
2025-03-24 00:17:24,730 - INFO - o1_X_external loaded successfully with shape (234720, 345)
2025-03-24 00:17:24,731 - INFO - o1_X_test loaded successfully with shape (15312, 345)
2025-03-24 00:17:24,732 - INFO - o1_X_train loaded successfully with shape (122496, 345)
2025-03-24 00:17:24,733 - INFO - o1_X_validate loaded successfully with shape (15312, 345)
2025-03-24 00:17:24,734 - INFO - o1_y_external_los loaded successfully with shape (234720, 1)
2025-03-24 00:17:24,736 - INFO - o1_y_external_mortality loaded successfully with shape (234720, 1)
2025-03-24 00:17:24,737 - INFO - o1_y_test_los loaded successfully with shape (15312, 1)
2025-03-24 00:17:24,738 - INFO - o1_y_test_mortality loaded successfully with shape (15312, 1)
2025-03-24 00:17:24,739 - INFO - o1_y_train_los loaded successfully with shape (122496, 1)
2025-03-24 00:17:24,740 - INFO - o1_y_train_mortality loaded successfully with shape (122496, 1)
2025-03-24 00:17:24,742 - INFO - o1_y_validate_los loaded successfully with shape (15312, 1)
2025-03-24 00:17:24,743 - INFO - o1_y_validate_mortality loaded successfully with shape (15312, 1)
2025-03-24 00:17:24,745 - INFO - o2_X_external loaded successfully with shape (117360, 345)
2025-03-24 00:17:24,746 - INFO - o2_X_test loaded successfully with shape (7656, 345)
2025-03-24 00:17:24,746 - INFO - o2_X_train loaded successfully with shape (61248, 345)
2025-03-24 00:17:24,748 - INFO - o2_X_validate loaded successfully with shape (7656, 345)
2025-03-24 00:17:24,749 - INFO - o2_y_external_los loaded successfully with shape (117360, 1)
2025-03-24 00:17:24,750 - INFO - o2_y_external_mortality loaded successfully with shape (117360, 1)
2025-03-24 00:17:24,751 - INFO - o2_y_test_los loaded successfully with shape (7656, 1)
2025-03-24 00:17:24,752 - INFO - o2_y_test_mortality loaded successfully with shape (7656, 1)
2025-03-24 00:17:24,753 - INFO - o2_y_train_los loaded successfully with shape (61248, 1)
2025-03-24 00:17:24,754 - INFO - o2_y_train_mortality loaded successfully with shape (61248, 1)
2025-03-24 00:17:24,756 - INFO - o2_y_validate_los loaded successfully with shape (7656, 1)
2025-03-24 00:17:24,757 - INFO - o2_y_validate_mortality loaded successfully with shape (7656, 1)
2025-03-24 00:17:24,758 - INFO - o3_X_external loaded successfully with shape (78240, 345)
2025-03-24 00:17:24,760 - INFO - o3_X_test loaded successfully with shape (5104, 345)
2025-03-24 00:17:24,761 - INFO - o3_X_train loaded successfully with shape (40832, 345)
2025-03-24 00:17:24,761 - INFO - o3_X_validate loaded successfully with shape (5104, 345)
2025-03-24 00:17:24,763 - INFO - o3_y_external_los loaded successfully with shape (78240, 1)
2025-03-24 00:17:24,764 - INFO - o3_y_external_mortality loaded successfully with shape (78240, 1)
2025-03-24 00:17:24,766 - INFO - o3_y_test_los loaded successfully with shape (5104, 1)
2025-03-24 00:17:24,767 - INFO - o3_y_test_mortality loaded successfully with shape (5104, 1)
2025-03-24 00:17:24,768 - INFO - o3_y_train_los loaded successfully with shape (40832, 1)
2025-03-24 00:17:24,769 - INFO - o3_y_train_mortality loaded successfully with shape (40832, 1)
2025-03-24 00:17:24,769 - INFO - o3_y_validate_los loaded successfully with shape (5104, 1)
2025-03-24 00:17:24,770 - INFO - o3_y_validate_mortality loaded successfully with shape (5104, 1)
2025-03-24 00:17:24,771 - INFO - o4_X_external loaded successfully with shape (58680, 345)
2025-03-24 00:17:24,772 - INFO - o4_X_test loaded successfully with shape (3828, 345)
2025-03-24 00:17:24,774 - INFO - o4_X_train loaded successfully with shape (30624, 345)
2025-03-24 00:17:24,775 - INFO - o4_X_validate loaded successfully with shape (3828, 345)
2025-03-24 00:17:24,776 - INFO - o4_y_external_los loaded successfully with shape (58680, 1)
2025-03-24 00:17:24,777 - INFO - o4_y_external_mortality loaded successfully with shape (58680, 1)
2025-03-24 00:17:24,778 - INFO - o4_y_test_los loaded successfully with shape (3828, 1)
2025-03-24 00:17:24,779 - INFO - o4_y_test_mortality loaded successfully with shape (3828, 1)
2025-03-24 00:17:24,779 - INFO - o4_y_train_los loaded successfully with shape (30624, 1)
2025-03-24 00:17:24,780 - INFO - o4_y_train_mortality loaded successfully with shape (30624, 1)
2025-03-24 00:17:24,781 - INFO - o4_y_validate_los loaded successfully with shape (3828, 1)
2025-03-24 00:17:24,782 - INFO - o4_y_validate_mortality loaded successfully with shape (3828, 1)
2025-03-24 00:17:24,783 - INFO - Load Complete.
2025-03-24 00:17:24,784 - INFO - ++++++++++++++++++++++++++++++++++++++++++

In [4]:
logging.info("++++++++++++++++++++++++++++++++++++++++++")
logging.info("Check Datatypes...")
for name, df in dataframes.items():
    logging.info(f"{name} types:\n{df.dtypes.value_counts()}")
logging.info("Check Complete.")
logging.info("++++++++++++++++++++++++++++++++++++++++++")

2025-03-24 00:17:24,793 - INFO - ++++++++++++++++++++++++++++++++++++++++++
2025-03-24 00:17:24,797 - INFO - Check Datatypes...
2025-03-24 00:17:24,802 - INFO - o1_X_external types:
float32    345
Name: count, dtype: int64
2025-03-24 00:17:24,805 - INFO - o1_X_test types:
float32    345
Name: count, dtype: int64
2025-03-24 00:17:24,808 - INFO - o1_X_train types:
float32    345
Name: count, dtype: int64
2025-03-24 00:17:24,810 - INFO - o1_X_validate types:
float32    345
Name: count, dtype: int64
2025-03-24 00:17:24,813 - INFO - o1_y_external_los types:
float32    1
Name: count, dtype: int64
2025-03-24 00:17:24,815 - INFO - o1_y_external_mortality types:
float32    1
Name: count, dtype: int64
2025-03-24 00:17:24,817 - INFO - o1_y_test_los types:
float32    1
Name: count, dtype: int64
2025-03-24 00:17:24,820 - INFO - o1_y_test_mortality types:
float32    1
Name: count, dtype: int64
2025-03-24 00:17:24,821 - INFO - o1_y_train_los types:
float32    1
Name: count, dtype: int64
2025-03-24 00:17:24,824 - INFO - o1_y_train_mortality types:
float32    1
Name: count, dtype: int64
2025-03-24 00:17:24,825 - INFO - o1_y_validate_los types:
float32    1
Name: count, dtype: int64
2025-03-24 00:17:24,828 - INFO - o1_y_validate_mortality types:
float32    1
Name: count, dtype: int64
2025-03-24 00:17:24,830 - INFO - o2_X_external types:
float32    345
Name: count, dtype: int64
2025-03-24 00:17:24,832 - INFO - o2_X_test types:
float32    345
Name: count, dtype: int64
2025-03-24 00:17:24,835 - INFO - o2_X_train types:
float32    345
Name: count, dtype: int64
2025-03-24 00:17:24,837 - INFO - o2_X_validate types:
float32    345
Name: count, dtype: int64
2025-03-24 00:17:24,839 - INFO - o2_y_external_los types:
float32    1
Name: count, dtype: int64
2025-03-24 00:17:24,842 - INFO - o2_y_external_mortality types:
float32    1
Name: count, dtype: int64
2025-03-24 00:17:24,844 - INFO - o2_y_test_los types:
float32    1
Name: count, dtype: int64
2025-03-24 00:17:24,846 - INFO - o2_y_test_mortality types:
float32    1
Name: count, dtype: int64
2025-03-24 00:17:24,849 - INFO - o2_y_train_los types:
float32    1
Name: count, dtype: int64
2025-03-24 00:17:24,851 - INFO - o2_y_train_mortality types:
float32    1
Name: count, dtype: int64
2025-03-24 00:17:24,853 - INFO - o2_y_validate_los types:
float32    1
Name: count, dtype: int64
2025-03-24 00:17:24,855 - INFO - o2_y_validate_mortality types:
float32    1
Name: count, dtype: int64
2025-03-24 00:17:24,859 - INFO - o3_X_external types:
float32    345
Name: count, dtype: int64
2025-03-24 00:17:24,862 - INFO - o3_X_test types:
float32    345
Name: count, dtype: int64
2025-03-24 00:17:24,865 - INFO - o3_X_train types:
float32    345
Name: count, dtype: int64
2025-03-24 00:17:24,867 - INFO - o3_X_validate types:
float32    345
Name: count, dtype: int64
2025-03-24 00:17:24,869 - INFO - o3_y_external_los types:
float32    1
Name: count, dtype: int64
2025-03-24 00:17:24,873 - INFO - o3_y_external_mortality types:
float32    1
Name: count, dtype: int64
2025-03-24 00:17:24,876 - INFO - o3_y_test_los types:
float32    1
Name: count, dtype: int64
2025-03-24 00:17:24,880 - INFO - o3_y_test_mortality types:
float32    1
Name: count, dtype: int64
2025-03-24 00:17:24,881 - INFO - o3_y_train_los types:
float32    1
Name: count, dtype: int64
2025-03-24 00:17:24,884 - INFO - o3_y_train_mortality types:
float32    1
Name: count, dtype: int64
2025-03-24 00:17:24,886 - INFO - o3_y_validate_los types:
float32    1
Name: count, dtype: int64
2025-03-24 00:17:24,888 - INFO - o3_y_validate_mortality types:
float32    1
Name: count, dtype: int64
2025-03-24 00:17:24,891 - INFO - o4_X_external types:
float32    345
Name: count, dtype: int64
2025-03-24 00:17:24,894 - INFO - o4_X_test types:
float32    345
Name: count, dtype: int64
2025-03-24 00:17:24,896 - INFO - o4_X_train types:
float32    345
Name: count, dtype: int64
2025-03-24 00:17:24,899 - INFO - o4_X_validate types:
float32    345
Name: count, dtype: int64
2025-03-24 00:17:24,901 - INFO - o4_y_external_los types:
float32    1
Name: count, dtype: int64
2025-03-24 00:17:24,905 - INFO - o4_y_external_mortality types:
float32    1
Name: count, dtype: int64
2025-03-24 00:17:24,909 - INFO - o4_y_test_los types:
float32    1
Name: count, dtype: int64
2025-03-24 00:17:24,911 - INFO - o4_y_test_mortality types:
float32    1
Name: count, dtype: int64
2025-03-24 00:17:24,914 - INFO - o4_y_train_los types:
float32    1
Name: count, dtype: int64
2025-03-24 00:17:24,916 - INFO - o4_y_train_mortality types:
float32    1
Name: count, dtype: int64
2025-03-24 00:17:24,919 - INFO - o4_y_validate_los types:
float32    1
Name: count, dtype: int64
2025-03-24 00:17:24,921 - INFO - o4_y_validate_mortality types:
float32    1
Name: count, dtype: int64
2025-03-24 00:17:24,922 - INFO - Check Complete.
2025-03-24 00:17:24,923 - INFO - ++++++++++++++++++++++++++++++++++++++++++

In [5]:
logging.info("++++++++++++++++++++++++++++++++++++++++++")
logging.info("Calculate missing values...")
for name, df in dataframes.items():
    missing_total = df.isnull().sum().sum()
    missing_cols = df.columns[df.isnull().any()].tolist()
    logging.info(f"{name}: {missing_total} missing values across {len(missing_cols)} columns")
logging.info("Missing values calculation complete.")
logging.info("++++++++++++++++++++++++++++++++++++++++++")

2025-03-24 00:17:24,935 - INFO - ++++++++++++++++++++++++++++++++++++++++++
2025-03-24 00:17:24,937 - INFO - Calculate missing values...
2025-03-24 00:17:25,144 - INFO - o1_X_external: 39527616 missing values across 308 columns
2025-03-24 00:17:25,162 - INFO - o1_X_test: 1985664 missing values across 292 columns
2025-03-24 00:17:25,274 - INFO - o1_X_train: 15876288 missing values across 304 columns
2025-03-24 00:17:25,291 - INFO - o1_X_validate: 2007696 missing values across 296 columns
2025-03-24 00:17:25,295 - INFO - o1_y_external_los: 0 missing values across 0 columns
2025-03-24 00:17:25,297 - INFO - o1_y_external_mortality: 0 missing values across 0 columns
2025-03-24 00:17:25,299 - INFO - o1_y_test_los: 0 missing values across 0 columns
2025-03-24 00:17:25,302 - INFO - o1_y_test_mortality: 0 missing values across 0 columns
2025-03-24 00:17:25,304 - INFO - o1_y_train_los: 0 missing values across 0 columns
2025-03-24 00:17:25,307 - INFO - o1_y_train_mortality: 0 missing values across 0 columns
2025-03-24 00:17:25,310 - INFO - o1_y_validate_los: 0 missing values across 0 columns
2025-03-24 00:17:25,312 - INFO - o1_y_validate_mortality: 0 missing values across 0 columns
2025-03-24 00:17:25,411 - INFO - o2_X_external: 19763572 missing values across 308 columns
2025-03-24 00:17:25,421 - INFO - o2_X_test: 992832 missing values across 292 columns
2025-03-24 00:17:25,474 - INFO - o2_X_train: 7938144 missing values across 304 columns
2025-03-24 00:17:25,483 - INFO - o2_X_validate: 1003848 missing values across 296 columns
2025-03-24 00:17:25,486 - INFO - o2_y_external_los: 0 missing values across 0 columns
2025-03-24 00:17:25,488 - INFO - o2_y_external_mortality: 0 missing values across 0 columns
2025-03-24 00:17:25,490 - INFO - o2_y_test_los: 0 missing values across 0 columns
2025-03-24 00:17:25,492 - INFO - o2_y_test_mortality: 0 missing values across 0 columns
2025-03-24 00:17:25,495 - INFO - o2_y_train_los: 0 missing values across 0 columns
2025-03-24 00:17:25,497 - INFO - o2_y_train_mortality: 0 missing values across 0 columns
2025-03-24 00:17:25,499 - INFO - o2_y_validate_los: 0 missing values across 0 columns
2025-03-24 00:17:25,501 - INFO - o2_y_validate_mortality: 0 missing values across 0 columns
2025-03-24 00:17:25,564 - INFO - o3_X_external: 13175808 missing values across 308 columns
2025-03-24 00:17:25,572 - INFO - o3_X_test: 661888 missing values across 292 columns
2025-03-24 00:17:25,607 - INFO - o3_X_train: 5292096 missing values across 304 columns
2025-03-24 00:17:25,614 - INFO - o3_X_validate: 669232 missing values across 296 columns
2025-03-24 00:17:25,617 - INFO - o3_y_external_los: 0 missing values across 0 columns
2025-03-24 00:17:25,619 - INFO - o3_y_external_mortality: 0 missing values across 0 columns
2025-03-24 00:17:25,621 - INFO - o3_y_test_los: 0 missing values across 0 columns
2025-03-24 00:17:25,623 - INFO - o3_y_test_mortality: 0 missing values across 0 columns
2025-03-24 00:17:25,625 - INFO - o3_y_train_los: 0 missing values across 0 columns
2025-03-24 00:17:25,628 - INFO - o3_y_train_mortality: 0 missing values across 0 columns
2025-03-24 00:17:25,629 - INFO - o3_y_validate_los: 0 missing values across 0 columns
2025-03-24 00:17:25,632 - INFO - o3_y_validate_mortality: 0 missing values across 0 columns
2025-03-24 00:17:25,682 - INFO - o4_X_external: 9881900 missing values across 308 columns
2025-03-24 00:17:25,689 - INFO - o4_X_test: 496416 missing values across 292 columns
2025-03-24 00:17:25,717 - INFO - o4_X_train: 3969072 missing values across 304 columns
2025-03-24 00:17:25,724 - INFO - o4_X_validate: 501924 missing values across 296 columns
2025-03-24 00:17:25,728 - INFO - o4_y_external_los: 0 missing values across 0 columns
2025-03-24 00:17:25,730 - INFO - o4_y_external_mortality: 0 missing values across 0 columns
2025-03-24 00:17:25,733 - INFO - o4_y_test_los: 0 missing values across 0 columns
2025-03-24 00:17:25,736 - INFO - o4_y_test_mortality: 0 missing values across 0 columns
2025-03-24 00:17:25,738 - INFO - o4_y_train_los: 0 missing values across 0 columns
2025-03-24 00:17:25,741 - INFO - o4_y_train_mortality: 0 missing values across 0 columns
2025-03-24 00:17:25,744 - INFO - o4_y_validate_los: 0 missing values across 0 columns
2025-03-24 00:17:25,747 - INFO - o4_y_validate_mortality: 0 missing values across 0 columns
2025-03-24 00:17:25,748 - INFO - Missing values calculation complete.
2025-03-24 00:17:25,750 - INFO - ++++++++++++++++++++++++++++++++++++++++++

In [6]:
logging.info("++++++++++++++++++++++++++++++++++++++++++")
logging.info("Calculate unique values.")
for name, df in dataframes.items():
    if 'y_' in name:
        unique_vals = df.nunique()
        logging.info(f"{name} unique target values: {unique_vals.to_dict()}")

logging.info("Unique values calculation complete.")
logging.info("++++++++++++++++++++++++++++++++++++++++++")

2025-03-24 00:17:25,764 - INFO - ++++++++++++++++++++++++++++++++++++++++++
2025-03-24 00:17:25,765 - INFO - Calculate unique values.
2025-03-24 00:17:25,775 - INFO - o1_y_external_los unique target values: {'los': 830}
2025-03-24 00:17:25,779 - INFO - o1_y_external_mortality unique target values: {'hospital_expire_flag': 2}
2025-03-24 00:17:25,782 - INFO - o1_y_test_los unique target values: {'los': 319}
2025-03-24 00:17:25,784 - INFO - o1_y_test_mortality unique target values: {'hospital_expire_flag': 2}
2025-03-24 00:17:25,789 - INFO - o1_y_train_los unique target values: {'los': 2548}
2025-03-24 00:17:25,793 - INFO - o1_y_train_mortality unique target values: {'hospital_expire_flag': 2}
2025-03-24 00:17:25,796 - INFO - o1_y_validate_los unique target values: {'los': 319}
2025-03-24 00:17:25,798 - INFO - o1_y_validate_mortality unique target values: {'hospital_expire_flag': 2}
2025-03-24 00:17:25,803 - INFO - o2_y_external_los unique target values: {'los': 830}
2025-03-24 00:17:25,806 - INFO - o2_y_external_mortality unique target values: {'hospital_expire_flag': 2}
2025-03-24 00:17:25,808 - INFO - o2_y_test_los unique target values: {'los': 319}
2025-03-24 00:17:25,812 - INFO - o2_y_test_mortality unique target values: {'hospital_expire_flag': 2}
2025-03-24 00:17:25,814 - INFO - o2_y_train_los unique target values: {'los': 2548}
2025-03-24 00:17:25,817 - INFO - o2_y_train_mortality unique target values: {'hospital_expire_flag': 2}
2025-03-24 00:17:25,819 - INFO - o2_y_validate_los unique target values: {'los': 319}
2025-03-24 00:17:25,821 - INFO - o2_y_validate_mortality unique target values: {'hospital_expire_flag': 2}
2025-03-24 00:17:25,824 - INFO - o3_y_external_los unique target values: {'los': 830}
2025-03-24 00:17:25,827 - INFO - o3_y_external_mortality unique target values: {'hospital_expire_flag': 2}
2025-03-24 00:17:25,829 - INFO - o3_y_test_los unique target values: {'los': 319}
2025-03-24 00:17:25,831 - INFO - o3_y_test_mortality unique target values: {'hospital_expire_flag': 2}
2025-03-24 00:17:25,834 - INFO - o3_y_train_los unique target values: {'los': 2548}
2025-03-24 00:17:25,836 - INFO - o3_y_train_mortality unique target values: {'hospital_expire_flag': 2}
2025-03-24 00:17:25,838 - INFO - o3_y_validate_los unique target values: {'los': 319}
2025-03-24 00:17:25,841 - INFO - o3_y_validate_mortality unique target values: {'hospital_expire_flag': 2}
2025-03-24 00:17:25,844 - INFO - o4_y_external_los unique target values: {'los': 830}
2025-03-24 00:17:25,846 - INFO - o4_y_external_mortality unique target values: {'hospital_expire_flag': 2}
2025-03-24 00:17:25,849 - INFO - o4_y_test_los unique target values: {'los': 319}
2025-03-24 00:17:25,851 - INFO - o4_y_test_mortality unique target values: {'hospital_expire_flag': 2}
2025-03-24 00:17:25,853 - INFO - o4_y_train_los unique target values: {'los': 2548}
2025-03-24 00:17:25,855 - INFO - o4_y_train_mortality unique target values: {'hospital_expire_flag': 2}
2025-03-24 00:17:25,857 - INFO - o4_y_validate_los unique target values: {'los': 319}
2025-03-24 00:17:25,858 - INFO - o4_y_validate_mortality unique target values: {'hospital_expire_flag': 2}
2025-03-24 00:17:25,859 - INFO - Unique values calculation complete.
2025-03-24 00:17:25,861 - INFO - ++++++++++++++++++++++++++++++++++++++++++

In [7]:
summary = []
for name, df in dataframes.items():
    missing_values = df.isnull().sum().sum()
    missing_cols = df.isnull().any().sum()
    total_cells = df.shape[0] * df.shape[1]
    summary.append({
        'Dataset': name,
        'Shape': df.shape,
        'Total Missing Values': missing_values,
        'Accross Missing Columns': missing_cols,
        'Missing %': 100 * missing_values / total_cells
    })

summary_df = pd.DataFrame(summary)
# Save to file
summary_df.to_csv("CSV/exports/01_dataset_summary.csv", index=False)

In [8]:
percent = 7

# Dictionary of datasets for iteration
datasets = {
    "o1_X_train": o1_X_train,
    "o2_X_train": o2_X_train,
    "o3_X_train": o3_X_train,
    "o4_X_train": o4_X_train
}

# Loop through each dataset
for name, df in datasets.items():
    missing_percentage_per_row = df.isnull().mean(axis=1) * 100
    missing_rows = (missing_percentage_per_row <= percent).sum()
    total_rows, total_columns = df.shape
    percent_between = (missing_rows * 100) / total_rows

    print(f"\nDataset: {name}")
    print(f"Total Rows: {total_rows}, Total Columns: {total_columns}")
    print(f"Number of rows with missing values up to {percent}%: {missing_rows}")
    print(f"The percentage between total and missing values sets is {percent_between:.2f}%")

Dataset: o1_X_train
Total Rows: 122496, Total Columns: 345
Number of rows with missing values up to 7%: 48
The percentage between total and missing values sets is 0.04%

Dataset: o2_X_train
Total Rows: 61248, Total Columns: 345
Number of rows with missing values up to 7%: 24
The percentage between total and missing values sets is 0.04%

Dataset: o3_X_train
Total Rows: 40832, Total Columns: 345
Number of rows with missing values up to 7%: 16
The percentage between total and missing values sets is 0.04%

Dataset: o4_X_train
Total Rows: 30624, Total Columns: 345
Number of rows with missing values up to 7%: 12
The percentage between total and missing values sets is 0.04%

## Task 2 (CIR-9): Analyze Missingness (per row/column)

In [9]:
missingness_summary = []

for name, df in dataframes.items():
    if not isinstance(df, pd.DataFrame):
        continue
    
    total_cells = df.shape[0] * df.shape[1]
    total_missing = df.isnull().sum().sum()
    
    col_missing = df.isnull().mean() * 100
    row_missing = df.isnull().mean(axis=1) * 100
    
    summary = {
        'Dataset': name,
        'Shape': df.shape,
        'Total Missing Cells': total_missing,
        'Total Missing %': round(100 * total_missing / total_cells, 2),
        'Columns with Missing (%)': (col_missing > 0).sum(),
        'Max % Missing in Row': round(row_missing.max(), 2),
        'Mean % Missing in Row': round(row_missing.mean(), 2),
        'Min % Missing in Row': round(row_missing.min(), 2)
    }
    missingness_summary.append(summary)

# Create DataFrame for summary
missingness_df = pd.DataFrame(missingness_summary)

# Sort by most missing
missingness_df.sort_values("Total Missing %", ascending=False, inplace=True)

# Save to file
missingness_df.to_csv("CSV/exports/02_missingness_summary.csv", index=False)

# Show top rows, I have leave out the y_ files which are labels
display(missingness_df.head(16))

,Dataset,Shape,Total Missing Cells,Total Missing %,Columns with Missing (%),Max % Missing in Row,Mean % Missing in Row,Min % Missing in Row
0,o1_X_external,"(234720, 345)",39527616,48.81,308,89.28,48.81,13.91
12,o2_X_external,"(117360, 345)",19763572,48.81,308,89.28,48.81,13.91
36,o4_X_external,"(58680, 345)",9881900,48.81,308,89.28,48.81,13.91
24,o3_X_external,"(78240, 345)",13175808,48.81,308,89.28,48.81,13.91
27,o3_X_validate,"(5104, 345)",669232,38.01,296,78.84,38.01,9.28
3,o1_X_validate,"(15312, 345)",2007696,38.01,296,78.84,38.01,9.28
15,o2_X_validate,"(7656, 345)",1003848,38.01,296,78.84,38.01,9.28
39,o4_X_validate,"(3828, 345)",501924,38.01,296,78.84,38.01,9.28
25,o3_X_test,"(5104, 345)",661888,37.59,292,80.00,37.59,10.43
1,o1_X_test,"(15312, 345)",1985664,37.59,292,80.00,37.59,10.43
13,o2_X_test,"(7656, 345)",992832,37.59,292,80.00,37.59,10.43
37,o4_X_test,"(3828, 345)",496416,37.59,292,80.00,37.59,10.43
26,o3_X_train,"(40832, 345)",5292096,37.57,304,81.16,37.57,6.96
2,o1_X_train,"(122496, 345)",15876288,37.57,304,81.16,37.57,6.96
14,o2_X_train,"(61248, 345)",7938144,37.57,304,81.16,37.57,6.96
38,o4_X_train,"(30624, 345)",3969072,37.57,304,81.16,37.57,6.96

## Task 3 (CIR-10): Visualize Missingness

In [10]:
# Create output folder
output_dir = "figures/task3_missingness"
os.makedirs(output_dir, exist_ok=True)

# Functions for plotting
def plot_missing_heatmap(
    df, title, max_rows=200, save_path=None, suffix_filter='(Min)', cmap='Blues'
):
    filtered_cols = [col for col in df.columns if col.endswith(suffix_filter)]
    df_filtered = df[filtered_cols].head(max_rows)

    plt.figure(figsize=(16, 6))
    sns.heatmap(df_filtered.isnull(), cbar=False, cmap=cmap, yticklabels=False,
                linecolor='lightgrey', linewidths=0.001)

    plt.title(f"Missing Data Heatmap – First {max_rows} Rows\n({suffix_filter}) – {title}",
              fontsize=14, weight='bold')
    plt.xlabel("Features", fontsize=12)
    plt.ylabel("Rows", fontsize=12)
    plt.xticks(fontsize=8, rotation=90)
    plt.tight_layout()

    if save_path:
        plt.savefig(save_path, dpi=300, bbox_inches='tight')
    plt.close()


def plot_column_missing_bar(
    df, title, save_path=None, top_n=40, suffix_filter='(Min)', color='#3E8ED0'
):
    filtered_cols = [col for col in df.columns if col.endswith(suffix_filter)]
    missing_perc = df[filtered_cols].isnull().mean() * 100
    missing_perc = missing_perc[missing_perc > 0].sort_values(ascending=False).head(top_n)

    plt.figure(figsize=(10, 0.4 * len(missing_perc)))
    ax = missing_perc.plot(kind='barh', color=color)

    plt.title(f"Top {len(missing_perc)} Features with Missing Values\n({suffix_filter}) – {title}",
              fontsize=14, weight='bold')
    plt.xlabel("Percentage Missing", fontsize=12)
    plt.ylabel("Feature", fontsize=12)
    plt.xticks(fontsize=10)
    plt.yticks(fontsize=8)
    plt.grid(axis='x', linestyle='--', linewidth=0.5)
    plt.tight_layout()

    if save_path:
        plt.savefig(save_path, dpi=300, bbox_inches='tight')
    plt.close()


# Filter only X datasets from the summary
top_datasets = missingness_df[
    (~missingness_df['Dataset'].str.startswith('y_')) &
    (missingness_df['Dataset'].isin(dataframes.keys()))
].head(16)['Dataset'].tolist()

# Generate plots
for dataset_name in top_datasets:
    df = dataframes.get(dataset_name)
    if df is not None:
        print(f"Generating plots for: {dataset_name}")
        heatmap_path = os.path.join(output_dir, f"{dataset_name}_heatmap.png")
        barplot_path = os.path.join(output_dir, f"{dataset_name}_barplot.png")
        
        plot_missing_heatmap(df, dataset_name, save_path=heatmap_path)
        plot_column_missing_bar(df, dataset_name, save_path=barplot_path)
    else:
        print(f"Dataset not found in dataframes: {dataset_name}")

Generating plots for: o1_X_external
Generating plots for: o2_X_external
Generating plots for: o4_X_external
Generating plots for: o3_X_external
Generating plots for: o3_X_validate
Generating plots for: o1_X_validate
Generating plots for: o2_X_validate
Generating plots for: o4_X_validate
Generating plots for: o3_X_test
Generating plots for: o1_X_test
Generating plots for: o2_X_test
Generating plots for: o4_X_test
Generating plots for: o3_X_train
Generating plots for: o1_X_train
Generating plots for: o2_X_train
Generating plots for: o4_X_train

## Task 4 (CIR-11): Define Clinical Value Ranges

In [11]:
# List of suffixes
suffixes = ['(Mean)', '(Median)', '(Min)', '(Max)']

for SUFFIX in suffixes:
    print(f"Processing suffix: {SUFFIX}")
    
    # Step 2: Collect global min/max per feature
    global_min_max = {}

    for name, df in dataframes.items():
        if name.startswith('y_'):  # Skip target datasets
            continue
        filtered_cols = [col for col in df.columns if col.endswith(SUFFIX)]
        filtered_df = df[filtered_cols]

        # For each feature, collect min and max
        for col in filtered_cols:
            col_min = filtered_df[col].min(skipna=True)
            col_max = filtered_df[col].max(skipna=True)

            if col not in global_min_max:
                global_min_max[col] = {'min': col_min, 'max': col_max}
            else:
                global_min_max[col]['min'] = min(global_min_max[col]['min'], col_min)
                global_min_max[col]['max'] = max(global_min_max[col]['max'], col_max)

    # Step 3: Convert to DataFrame
    clinical_ranges_df = pd.DataFrame.from_dict(global_min_max, orient='index')
    clinical_ranges_df = clinical_ranges_df.rename(columns={'min': 'Observed Min', 'max': 'Observed Max'})
    clinical_ranges_df = clinical_ranges_df.sort_index()

    # Save it to a CSV file
    suffix_clean = SUFFIX.strip('()')  # Remove parentheses for a cleaner filename
    clinical_ranges_df.to_csv(f"CSV/exports/03_observed_clinical_ranges_{suffix_clean}.csv")

    # Optional: Preview
    display(clinical_ranges_df)

Processing suffix: (Mean)

                                       Observed Min  Observed Max
Alanine_Aminotransferase_(ALT)_(Mean)           1.0   7784.666504
Albumin_(Mean)                                  1.0      5.100000
Alkaline_Phosphatase_(Mean)                     9.0   1448.000000
Ammonia_(Mean)                                  2.2    130.000000
Amylase_(Mean)                                  8.0   4867.000000
...                                             ...           ...
Uric_Acid_(Mean)                                1.3     16.500000
White_Blood_Cells_(Mean)                        0.2    361.000000
pCO2_(Mean)                                     9.0    101.333336
pH_(Mean)                                       3.0      8.500000
pO2_(Mean)                                     18.0    609.000000

[77 rows x 2 columns]

Processing suffix: (Median)

                                         Observed Min  Observed Max
Alanine_Aminotransferase_(ALT)_(Median)           1.0        7510.0
Albumin_(Median)                                  1.0           5.1
Alkaline_Phosphatase_(Median)                     9.0        1448.0
Ammonia_(Median)                                  2.2         130.0
Amylase_(Median)                                  8.0        4867.0
...                                               ...           ...
Uric_Acid_(Median)                                1.3          16.5
White_Blood_Cells_(Median)                        0.2         361.0
pCO2_(Median)                                     9.0          98.0
pH_(Median)                                       5.0           8.5
pO2_(Median)                                     18.0         609.0

[77 rows x 2 columns]

Processing suffix: (Min)

                                      Observed Min  Observed Max
Alanine_Aminotransferase_(ALT)_(Min)          1.00        7510.0
Albumin_(Min)                                 1.00           5.1
Alkaline_Phosphatase_(Min)                    8.00        1448.0
Ammonia_(Min)                                 2.20         130.0
Amylase_(Min)                                 7.00        4867.0
...                                            ...           ...
Uric_Acid_(Min)                               0.30          16.5
White_Blood_Cells_(Min)                       0.17         361.0
pCO2_(Min)                                    9.00          98.0
pH_(Min)                                      5.00           8.5
pO2_(Min)                                    18.00         609.0

[77 rows x 2 columns]

Processing suffix: (Max)

                                      Observed Min  Observed Max
Alanine_Aminotransferase_(ALT)_(Max)           1.0   8776.000000
Albumin_(Max)                                  1.0      5.100000
Alkaline_Phosphatase_(Max)                     9.0   1448.000000
Ammonia_(Max)                                  2.2    157.000000
Amylase_(Max)                                  8.0   4867.000000
...                                            ...           ...
Uric_Acid_(Max)                                1.3     16.500000
White_Blood_Cells_(Max)                        0.2    361.000000
pCO2_(Max)                                     9.0    163.399994
pH_(Max)                                       5.0      8.500000
pO2_(Max)                                     18.0    635.000000

[77 rows x 2 columns]

# Test Field

In [ ]:
labevents_df = pd.read_csv(r"..\00_Datasets\mimic-iv-3_1\icu\d_items.csv.gz")

In [ ]:
display(labevents_df)

In [ ]:

abp_df = labevents_df[labevents_df['label'].str.startswith('Arterial Blood Pressure mean', na=False)]

# Display the result
display(abp_df)

In [ ]:
temp_df = pd.read_csv(r"../01_MimicIV/CSV/Exports/o04_icu_chartevent.csv")

In [ ]:
display(temp_df)

In [ ]:
filtered_df = temp_df[['itemid', 'valuenum', 'valueuom']]

In [ ]:
filtered_df = temp_df[temp_df['itemid'] == 220052][['itemid', 'valuenum', 'valueuom']]
display(filtered_df)

In [ ]:
filtered_df = filtered_df.sort_values('valuenum', ascending=False)

In [ ]:
display(filtered_df)

In [ ]:
# File path
file_path = "../00_Datasets/mimic-iv-3_1/icu/chartevents.csv.gz"

# Chunk size
chunksize = 1000000  # Adjust based on your memory capacity

# Filtered data will be appended here
filtered_chunks = []

# Loop through the file in chunks
for chunk in pd.read_csv(file_path, chunksize=chunksize, compression='gzip', usecols=['subject_id', 'itemid', 'valuenum', 'valueuom']):
    # Filter only rows with itemid == 220052
    filtered_chunk = chunk[chunk['itemid'] == 220052]
    filtered_chunks.append(filtered_chunk)

# Combine all filtered chunks into one DataFrame
result_df = pd.concat(filtered_chunks, ignore_index=True)

# Show a preview
print(result_df.head())

# Optional: Save to CSV
# result_df.to_csv("filtered_chartevents_220052.csv", index=False)

In [ ]:
result_df = result_df.sort_values('valuenum', ascending=False)
display(result_df)

In [ ]:
display(result_df)

In [ ]:
# File path
file_path = "../00_Datasets/mimic-iv-3_1/icu/chartevents.csv.gz"

# Chunk size
chunksize = 1000000  # Adjust based on your system's RAM

# Container for filtered data
negative_valuenum_chunks = []

# Process the file in chunks
for chunk in pd.read_csv(file_path, chunksize=chunksize, compression='gzip', usecols=['subject_id', 'itemid', 'value', 'valuenum', 'valueuom']):
    # Drop rows where valuenum is NaN to avoid errors
    chunk = chunk.dropna(subset=['valuenum'])

    # Filter for negative valuenum values
    negative_chunk = chunk[chunk['valuenum'] < 0]
    
    # Append to list
    negative_valuenum_chunks.append(negative_chunk)

# Combine all the negative valuenum rows
result_df = pd.concat(negative_valuenum_chunks, ignore_index=True)

# Display a few rows
print(result_df.head())

# Optional: Save to CSV
# result_df.to_csv("negative_valuenum_chartevents.csv", index=False)

In [ ]:
result_df = result_df.sort_values('valuenum', ascending=True)
display(result_df)