In [1]:
import pandas as pd

# Load the two CSV files
df_los = pd.read_csv('CSV\Exports\o03_icu_first_stay.csv')
df_final = pd.read_csv('CSV\Exports\datasets\whole_set\o01_final_mean_table.csv')

# Merge the dataframes on 'subject_id' and 'hadm_id'
merged_df = pd.merge(df_final, df_los[['subject_id', 'hadm_id', 'los']], on=['subject_id', 'hadm_id'], how='left')

# Save the result to a new CSV file
merged_df.to_csv('CSV\Exports\datasets\whole_set\o01_final_mean_with_los.csv', index=False)

#---------------------------------

df_final = pd.read_csv('CSV\Exports\datasets\whole_set\o02_final_median_table.csv')

# Merge the dataframes on 'subject_id' and 'hadm_id'
merged_df = pd.merge(df_final, df_los[['subject_id', 'hadm_id', 'los']], on=['subject_id', 'hadm_id'], how='left')

# Save the result to a new CSV file
merged_df.to_csv('CSV\Exports\datasets\whole_set\o02_final_median_with_los.csv', index=False)

#---------------------------------

df_final = pd.read_csv('CSV\Exports\datasets\whole_set\o03_final_min_table.csv')

# Merge the dataframes on 'subject_id' and 'hadm_id'
merged_df = pd.merge(df_final, df_los[['subject_id', 'hadm_id', 'los']], on=['subject_id', 'hadm_id'], how='left')

# Save the result to a new CSV file
merged_df.to_csv('CSV\Exports\datasets\whole_set\o03_final_min_with_los.csv', index=False)

#---------------------------------

df_final = pd.read_csv('CSV\Exports\datasets\whole_set\o04_final_max_table.csv')

# Merge the dataframes on 'subject_id' and 'hadm_id'
merged_df = pd.merge(df_final, df_los[['subject_id', 'hadm_id', 'los']], on=['subject_id', 'hadm_id'], how='left')

# Save the result to a new CSV file
merged_df.to_csv('CSV\Exports\datasets\whole_set\o04_final_max_with_los.csv', index=False)

In [2]:
display(merged_df)

,row_count,subject_id,hadm_id,Time_Zone,gender,age,language,marital_status,race,Base Excess - Max,...,Other - Max.2,"Triglycerides, Pleural - Max",Thoracic Fluid Content (TFC) (NICOM) - Max,Head of Bed Measurement (Degree) - Max,ARCH-1 - Max,Factor VII - Max,"Creatinine, Body Fluid - Max",Ethanol - Max,hospital_expire_flag,los
0,1,10004733,27411876,1,M,51,English,SINGLE,UNKNOWN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Survive,8.357373
1,2,10004733,27411876,2,M,51,English,SINGLE,UNKNOWN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Survive,8.357373
2,3,10004733,27411876,3,M,51,English,SINGLE,UNKNOWN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Survive,8.357373
3,4,10004733,27411876,4,M,51,English,SINGLE,UNKNOWN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Survive,8.357373
4,5,10004733,27411876,5,M,51,English,SINGLE,UNKNOWN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Survive,8.357373
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58139,58140,19999987,23865745,12,F,57,English,NaN,UNKNOWN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Survive,1.937847
58140,58141,19999987,23865745,13,F,57,English,NaN,UNKNOWN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Survive,1.937847
58141,58142,19999987,23865745,14,F,57,English,NaN,UNKNOWN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Survive,1.937847
58142,58143,19999987,23865745,15,F,57,English,NaN,UNKNOWN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Survive,1.937847
58143,58144,19999987,23865745,16,F,57,English,NaN,UNKNOWN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Survive,1.937847