# Collecting vital periodic data.
## Those data are interfaced from bedside vital signs monitors into eCareManager

In [1]:
import gc
import gzip
import pandas as pd

# Set the display option to show all columns
pd.set_option('display.max_columns', None)

# Diagnosis file 
admissions_path = 'CSV\Exports\o02_eicu_unique_admissions.csv'

compressed_file_path = r"..\Datasets\eicu-2_0\vitalperiodic.csv.gz"

df = pd.read_csv(compressed_file_path, compression='gzip')

# Read the specific ICD codes from a CSV file
admissions_df = pd.read_csv(admissions_path)

# Select only the specified columns
admissions_df = admissions_df[['uniquepid', 'patientunitstayid']]

In [2]:
# Merge table
merged_df = admissions_df.merge(df, on='patientunitstayid', how='inner')

# Filtering out rows with negative values in the labresultoffset column
merged_df = merged_df[merged_df['observationoffset'] >= 0]

# List of columns to be dropped
columns_to_drop = ['vitalperiodicid']

# Drop the specified columns
merged_df = merged_df.drop(columns=columns_to_drop)

In [3]:
display(merged_df)

,uniquepid,patientunitstayid,observationoffset,temperature,sao2,heartrate,respiration,cvp,etco2,systemicsystolic,systemicdiastolic,systemicmean,pasystolic,padiastolic,pamean,st1,st2,st3,icp
0,002-11314,204938,281,NaN,99.0,82.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,002-11314,204938,2196,NaN,100.0,78.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,002-11314,204938,331,NaN,NaN,74.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,002-11314,204938,2121,NaN,100.0,82.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,002-11314,204938,1701,NaN,100.0,70.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5900510,035-950,3333754,2753,NaN,92.0,60.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,30.0,30.0,NaN
5900511,035-950,3333754,2678,NaN,95.0,56.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,60.0,60.0,NaN
5900512,035-950,3333754,2668,NaN,96.0,56.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,60.0,50.0,NaN
5900513,035-950,3333754,1248,NaN,95.0,56.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,40.0,40.0,NaN
5900514,035-950,3333754,2663,NaN,96.0,62.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,60.0,50.0,NaN

In [4]:
# Export the filtered DataFrame to a CSV file
merged_df.to_csv('CSV\Exports\o06_eicu_vitalperiodic.csv', index=False, header=True)

# Free RAM
df = None
merged_df = None
admissions_df = None
gc.collect()

0