In [1]:
import gc
import gzip
import pandas as pd

In [3]:
dataset_df_path = r"CSV\Exports\datasets\whole_set\o01_final_mean_table.csv"

dataset_df = pd.read_csv(dataset_df_path)

In [4]:
display(dataset_df)

,row_count,uniquepid,patientunitstayid,Time_Zone,gender,age,ethnicity,-basos (Mean),-eos (Mean),-lymphs (Mean),...,Phenobarbital (Mean),Lithium (Mean),ANF/ANA (Mean),Spontaneous Rate (Mean),WBC's in body fluid (Mean),Lidocaine (Mean),24 h urine urea nitrogen (Mean),VE (Mean),Amikacin - random (Mean),unitdischargestatus
0,1,002-33029,142974,1,Female,54,African American,0.0,0.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alive
1,2,002-33029,142974,2,Female,54,African American,0.0,0.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alive
2,3,002-33029,142974,3,Female,54,African American,0.0,0.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alive
3,4,002-33029,142974,4,Female,54,African American,0.0,0.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alive
4,5,002-33029,142974,5,Female,54,African American,0.0,0.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86667,86668,035-20783,3353144,12,Male,51,African American,0.0,0.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alive
86668,86669,035-20783,3353144,13,Male,51,African American,0.0,0.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alive
86669,86670,035-20783,3353144,14,Male,51,African American,0.0,0.0,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alive
86670,86671,035-20783,3353144,15,Male,51,African American,0.0,0.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alive
86671,86672,035-20783,3353144,16,Male,51,African American,0.0,0.0,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alive

In [16]:
import gc
import gzip
import pandas as pd

# Set the display option to show all columns
pd.set_option('display.max_columns', None)

# CAUTION: Path with the specific ICD codes from a CSV file 
icd = 'CSV\Imports\icd_stroke.csv'

compressed_file_path = r"..\Datasets\eicu-2_0\diagnosis.csv.gz"

df = pd.read_csv(compressed_file_path, compression='gzip')

# Read the specific ICD codes from a CSV file
specific_icd_numbers = pd.read_csv(icd, header=None)

In [2]:
# Split the icd9code column and create multiple rows
df['icd9code'] = df['icd9code'].str.split(', ')
df = df.explode('icd9code')
df = df.dropna(subset=['icd9code'])

In [3]:
display(df)

,diagnosisid,patientunitstayid,activeupondischarge,diagnosisoffset,diagnosisstring,icd9code,diagnosispriority
0,4222318,141168,False,72,cardiovascular|chest pain / ASHD|coronary arte...,414.00,Other
0,4222318,141168,False,72,cardiovascular|chest pain / ASHD|coronary arte...,I25.10,Other
2,4160941,141168,False,72,pulmonary|disorders of the airways|COPD,491.20,Other
2,4160941,141168,False,72,pulmonary|disorders of the airways|COPD,J44.9,Other
3,4103261,141168,True,118,pulmonary|disorders of the airways|COPD,491.20,Other
...,...,...,...,...,...,...,...
2710669,46259796,3353254,True,41,renal|disorder of kidney|acute renal failure|d...,N17.9,Major
2710670,46204273,3353254,True,41,gastrointestinal|GI bleeding / PUD|lower GI bl...,578.9,Primary
2710670,46204273,3353254,True,41,gastrointestinal|GI bleeding / PUD|lower GI bl...,K92.2,Primary
2710671,46335124,3353263,True,100,pulmonary|disorders of vasculature|pulmonary e...,415.19,Other
2710671,46335124,3353263,True,100,pulmonary|disorders of vasculature|pulmonary e...,I26.99,Other

In [4]:
df_unique_icd9 = df.drop_duplicates(subset='icd9code')
#df_unique_icd9 = df_unique_icd9.drop_duplicates(subset='diagnosisid')

In [30]:
df_selected_columns = df_unique_icd9[['icd9code', 'diagnosisstring']]

In [33]:
df_temp = df_selected_columns.drop_duplicates(subset= 'diagnosisstring')

In [34]:
display(df_temp)

        icd9code                                    diagnosisstring
0         414.00  cardiovascular|chest pain / ASHD|coronary arte...
2         491.20            pulmonary|disorders of the airways|COPD
4          428.0  cardiovascular|ventricular disorders|congestiv...
5         427.31  cardiovascular|arrhythmias|atrial fibrillation...
6          585.9    renal|disorder of kidney|chronic kidney disease
...          ...                                                ...
2597542  T86.890  transplant|s/p pancreas transplant|rejection -...
2597553   835.10  burns/trauma|trauma - skeletal|dislocation|hip...
2600469   K68.19  gastrointestinal|abdominal/ general|intra-abdo...
2600559   811.10  burns/trauma|trauma - skeletal|bone fracture(s...
2603348    320.3  neurologic|infectious disease of nervous syste...

[1002 rows x 2 columns]

In [15]:
# Export the filtered DataFrame to a CSV file
df_temp.to_csv('icd9_list.csv', index=False, header=True)

In [ ]:
import gc
import gzip
import pandas as pd
import numpy as np

# Set the display option to show all columns
pd.set_option('display.max_columns', None)

# CAUTION: Path with the specific ICD codes from a CSV file 
icd = 'CSV\Imports\icd_stroke.csv'

compressed_file_path = r"..\Datasets\mimic-iv-2_2\hosp\d_labitems.csv.gz"

lab_df = pd.read_csv(compressed_file_path, compression='gzip')

# Read the specific ICD codes from a CSV file
specific_icd_numbers = pd.read_csv(icd, header=None)

In [ ]:
dataset_df_path = r"CSV\Exports\datasets\whole_set\o04_final_max_table.csv"

dataset_df = pd.read_csv(dataset_df_path)

In [ ]:
display(df_excluded)

In [ ]:
# List of columns to exclude
columns_to_exclude = ['row_count', 'uniquepid', 'patientunitstayid', 'Time_Zone', 'gender', 'age', 'ethnicity']

# Exclude specified columns
df_excluded = dataset_df.drop(columns=columns_to_exclude)

In [ ]:
# Count NaN values for each column separately
nan_counts_per_column = df_excluded.isna().sum()

# Sort the result by NaN counts in descending order
nan_counts_per_column_sorted = nan_counts_per_column.sort_values(ascending=True)

# Convert the Series to a DataFrame with proper column names
nan_counts_df = pd.DataFrame({'Column': nan_counts_per_column_sorted.index, 'NaN_Count': nan_counts_per_column_sorted.values})

# Display the sorted NaN counts for each column separately
print("Sorted NaN counts for each column:")
print(nan_counts_df)

# Export the sorted NaN counts to a CSV file
nan_counts_df.to_csv('nan_counts_per_column.csv', index=False)
print("Exported to 'nan_counts_per_column.csv'")

In [ ]:
display(df_excluded)

In [ ]:
# Find rows where "Mesothelial cells" is present in any column
mesothelial_rows = lab_df[lab_df.apply(lambda row: 'Mesothelial Cells' in row.values, axis=1)]

# Display the rows containing "Mesothelial cells"
print("Rows containing 'Mesothelial cells':")
print(mesothelial_rows)

In [ ]:
lab_path = r"..\Datasets\mimic-iv-2_2\hosp\d_labitems.csv.gz"
chart_path = r"..\Datasets\mimic-iv-2_2\icu\d_items.csv.gz"

lab_df= pd.read_csv(lab_path, compression='gzip')

chart_df = pd.read_csv(chart_path, compression='gzip')

In [ ]:
chart_df.sort_values(by='itemid')

In [ ]:
display(lab_df)

In [ ]:
display(chart_df)

In [ ]:
common_values_df = pd.merge(chart_df, lab_df, on='itemid', how='inner')

In [ ]:
display(common_values_df)